services:
  app:
    container_name: app
    build: .
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - redis

  engine:
    container_name: engine
    build:
      context: .
      dockerfile: Dockerfile.engine
    networks:
      - app-network
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:latest
    volumes:
      - redis-data:/data
    networks:
      - app-network
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  promtail:
    container_name: promtail
    image: grafana/promtail:3.6.0
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/promtail.yaml
    environment:
      - LOKI_URL=${LOKI_URL}
    command: 
      -config.file=/etc/promtail/promtail.yaml
      -config.expand-env=true

volumes:
  redis-data:

networks:
  app-network:
