name: Deploy
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Build Docker
        run: docker compose build
      - name: Run Docker
        run: docker compose run -e DATABASE_URL={{ vars.DATABASE_URL }}