name: Deploy
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Build Docker
        run: docker compose build
      - name: Run Docker
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          LOKI_URL: ${{ variables.LOKI_URL }}
        run: docker compose up -d